@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic-ext,vietnamese');
html {
  font-family: 'Open Sans', sans-serif;;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  text-rendering: optimizeLegibility;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
a {
  color: #004385;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #004385;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

h1,h2,h3,h4 {font-weight:400;}

/* Tests */
.TBG {background-color:#eee;}

/* ===========================================================================
   Block: Top Bar 
   Selector: FX__TopBar
   Methodology: Block__element__element
*/
.FX__TopBar {display:table; width:100%; background-color:#004385; font-size:12px; color:#fff; padding:5px 0px; }
.FX__TopBar__nav {text-align:right;}
.FX__TopBar__nav ul {list-style:none; margin:0; padding:0; width:100%; display:block;}
.FX__TopBar__nav ul li {display:inline-block; margin:0px 0px; padding:2px 0px;}
.FX__TopBar__nav ul li a{color:#fff; padding:0px 15px; font-weight:500; text-decoration:none; }
.FX__TopBar__nav ul li a:hover{color:#fff; text-decoration:none; }
@media (max-width: 980px) {
	.FX__TopBar__nav {text-align:center;}
}

/* ===========================================================================
   Block: Header 
   Selector: FX__Header
   Methodology: Block__element__element
*/
.FX__Header {border-bottom:1px solid #dedede;}
.FX__Header__Logo {padding-top:10px; padding-bottom:10px;}
.FX__Header__Logo img {max-width:100%;}
.FX__Header__cta {text-align:right; margin-top:30px;}
@media (max-width: 980px) {
	.FX__Header__Logo {padding-top:10px; padding-bottom:10px; text-align:center;}
	.FX__Header__cta {text-align:center; margin-top:30px; margin-bottom:20px;}
}


/* ===========================================================================
   Elelments
   Methodology: Block__element__element
*/

/* Buttons */
.btn {
  display: inline-block;
  padding: 6px 15px;
  margin-bottom: 4px;
  font-weight: normal;
  font-size: 14px;
  color:#000;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  background-color:#ffffff;
  border: 1px solid #ddd;
  border-radius: 2px;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
		  box-shadow: 1px 1px 2px #777;
}
.btn:hover{text-decoration:none; background:#eeeeee; color:#000; border: 1px solid #a2a2a2;}
a.btn:hover {text-decoration:none;}

.btn--default {color: #ffffff!important; background: #004385; border: 1px solid transparent;}
.btn--default:hover {color: #ffffff!important; background: #012446; border: 1px solid transparent;}


/* ===================   Modifiers   ======================================== */


.ft--300 {font-weight:300;}
.ft--400 {font-weight:400;}
.ft--600 {font-weight:600;}
.ft--700 {font-weight:700;}
.ft--800 {font-weight:800;}

.align-right {text-align:right;}

